<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/word-color.css">
        <title>Word and Color</title>
    </head>
    <body>
        <h1>Input</h1>
        <div class="main">
            <form action="" method="POST">
                <label for="name">Enter a name: </label>
                <input type="text" id="name" placeholder="something" minlength="3" maxlength="10" required><br>

                <label for="color">Enter a color: </label>
                <input type="text" id="color" placeholder="red,green,blue etc..." minlength="4" maxlength="12" required><br>

                <input type="reset"><br>
                <input type="submit"><br>
            </form>

        </div>
        


        <script></script>
    </body>
</html>