<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/word-color.css">
        <title>Word and Color</title>
    </head>
    <body>
        <div class="main">
            <form action="" method="POST">
                <label class="txt" for="name">Enter a name: </label>
                <input class='box' type="text" id="name" placeholder="something" minlength="3" maxlength="10" required><br>

                <label class="txt" for="color">Enter a color: </label>
                <input class='box' type="text" id="color" placeholder="red,green,blue etc..." minlength="4" maxlength="12" required><br>

                <input class="button" type="reset">
                <input class="button" type="submit">
            </form>

        </div>
        


        <script></script>
    </body>
</html>